<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trending Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated="true" placeholder="Search Movie by Title" [value]="searchText" (ionInput)="applysearch($event)"></ion-searchbar>
 <ion-list>
  @if(isLoading){
 <ion-list>
  @for(i of dummyArray; track i){
    <ion-item>
      <ion-avatar>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-skeleton-text animated style="width: 60%; height: 20px; margin-left: 16px;"></ion-skeleton-text>
    </ion-item>
  }
 </ion-list>
  }
  @else if(error){
    <ion-alert header="error" [message]="error" [buttons]="['OK']" isOpen="true"></ion-alert>
  }
    
  </ion-list>
  <ion-list>
    @for(movie of filteredMovies;track  movie.id){
      <ion-item (click)="navigateToDetailsPage(movie.id)">
        <ion-avatar slot="start">
          <img [src]="imageBaseUrl+'/w92'+movie.poster_path" [alt]="movie.title + ' Poster'"/>
        </ion-avatar>
        <ion-label>
          <h2>Title: {{movie.title}}</h2>
          <h4>Release Date: {{movie.release_date | date:'y'}}</h4>
        </ion-label>
        <ion-badge>{{movie.vote_average}}</ion-badge>
      </ion-item>
    }@empty{
      @if(!isLoading){
      <ion-item>
        <ion-label>No movies found.</ion-label>
      </ion-item>
    }
    }
  </ion-list>
  <ion-infinite-scroll ionInfiniteScrollThreshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more movies...">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>
</ion-content>
