.centered-card {
    margin: 20px auto;
    max-width: 600px;
}
.details-card-image{
    margin: auto;
    padding: 10px;
    width: 100%;
    
    height: 70vh;
    border-radius: 12px;
    margin-bottom: 16px;
}