<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ movie()?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="padding: 16px;"

>

  @if (movie(); as movie) {
    <ion-card class="centered-card">
  <img
  class="details-card-image"
  [src]="imageBaseUrl+'/w500'+ movie.poster_path" 
  [alt]="movie.title + ' Poster'"
  />

  <ion-card-header>
    <ion-card-title>{{movie.title}}</ion-card-title>
    <ion-card-subtitle>{{movie.release_date | date:'y'}}</ion-card-subtitle>
    <ion-card-subtitle>
      <ion-badge>{{movie.vote_average}}</ion-badge>
    </ion-card-subtitle>
    
    <ion-card-subtitle>
      @for(genre of movie.genres; track genre.id; let isLast = $last; ){
        <ion-badge style="margin-right: 4px;">
          {{genre.name}}
          
        </ion-badge>
        {{!isLast ? '.' : ''}}
      }
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{movie.overview}}
  </ion-card-content>
</ion-card>

   

  } @else {

    <ion-card class="centered-card">
      <div>
        <ion-skeleton-text animated style="width: 100%; height: 300px;"></ion-skeleton-text>
      </div>
  
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 60%; height: 20px; margin-bottom: 8px;"></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
        <ion-skeleton-text animated style="width: 40%; height: 16px; margin-bottom: 8px;"></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-subtitle>
        <ion-skeleton-text animated style="width: 20%; height: 16px;"></ion-skeleton-text>
        </ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <ion-skeleton-text animated style="width: 100%; height: 80px;"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  }

</ion-content>
